@import '~bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Taviraj');


.is_bold{
    font-weight: bold;
}

.is_text_right{
    text-align: right;
}

.is-undeline{
    border-bottom: 1px solid #34495e;
}

.rm_padding{
    padding:0 
}