@import '~bulma/bulma';
@import url('https://fonts.googleapis.com/css?family=Taviraj');

html{
    height: 100%;
    background: #ecf0f1;
}

body{
    height: 100%;
    background-attachment: fixed;
}

.is_bold{
    font-weight: bold;
}

.is_text_right{
    text-align: right;
}

.is-undeline{
    border-bottom: 1px solid #34495e;
}